.header {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.header-logo {
    width: 60px;
    height: 40px;
}
.header-text {
    font-size: large;
    font-weight: bold;
    font-size: 25px;
}
.link-container {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 0;
    padding: 0;
}
.link-container li {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px;
}
ul li a{
    text-decoration: none;
    background-color: #E5E3C9;
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
}

ul li a:hover{
    background-color: #D8D2CB;
    color: #fff;
}

.active{
    background-color: #AD8B73;
    color: #fff;
}